# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# Dataset
data/

# Power BI
*.pbix.autosave

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/
